@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:wght@700;800;900&display=swap');
.about{
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:100vh;
  margin:30px;
  align-items:center;
  padding:20px;
  margin:10px;
}

.about_text{
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px auto;
  /*needed to make the thing sticky. I wanted to make the scroll between the projecst and the about sticky and this was the only way to do it*/
  /*align-self: flex-start;*/
}

.about a{
  font-weight:normal;
}

.about p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color:black;
  margin:20px;
}

.about_text h1{
  margin:10px;
  font-size: 64px;
  color:black;
}


.about_list{
  margin:0 auto;
  padding:0;
  display:flex;
  flex-direction:row;
}

.about_list li{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin:5px 0;
}

.about_list li p{
  font-weight:bold;
  margin:0 10px;
}

.icon{
  font-size:24px;
  color:black;
  margin:0 10px;
}

.about_footer{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.about_footer .icon{
  margin:0 20px;
  font-size:48px;
}