@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media (max-width: 1000px){
  .project-link_home{
    width:80%;
    border: 5px solid red;
  }
}

.App{
  margin:0 auto;
  max-width:1080px;
}
a{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 48px;
  color:#3772FF;
  text-decoration: none;
  font-size: 20px;
  margin:10px 0 10px 0;
  width:fit-content;
}

a:hover{
  border-bottom:1px dashed #3772FF;
  margin:10px 0 9px 0;
}

button{
  border:none;
  background-color:#FFFFFF;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

footer{
  margin:50px auto;
  text-align:center;
  display:flex;
  flex-direction:column;
}

.fade-enter{
  opacity:0;
}

.fade-enter-active{
  opacity:1;
  transition: opacity 200ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-size: 45px;
  color:#000000;
  margin:0;
}

h2{
  font-weight:bold;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  margin:10px 0;
}

header{
  height:30vh;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}

hr{
  border:1px solid linear-gradient(135deg, hsla(148, 100%, 47%, 1) 0%, hsla(222, 100%, 61%, 1) 100%);
  margin:5px 0;
}

body{
  display:flex;
  flex-direction:column;
  align-items:space-between;
  justify-content:center;
  overflow:visible;
  margin:0 auto;
}

.loading{
  display:flex;
  flex-direction:column;
  margin:40% 0;
  max-width:1080px;
}

nav{
  position:sticky;
  display:flex;
  flex-direction:row;
  top:0;
  width:100%;
  background-color:white;
  justify-content:flex-start;
  align-content:flex-start;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 20px;
  padding:0;
  margin:0px;
  line-height:30px;
  color:#222222;
}

/*------------------------------HOME PAGE PROJECT STYLING*/

.home{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}

.proj_desc{
  margin:10px 0;
  font-size:45px;
  line-height:1.25em;
  font-weight:300;
}

.proj_link{
  display:flex;
  flex-direction:row;
  text-align:left;
  margin-bottom:50px;
  height:50vh;
  width:100%;
}

.proj_text{
  display:flex;
  flex-direction:column;
  margin:0;
  padding:20px;
}

.proj_text h2{
  font-weight:700;
  font-size:25px;
}

.proj_gallery{
  display:flex;
  flex-direction:column;
  margin:15px 0;
}

.proj_img{
  object-fit:cover;
  width:50%;
}

.project_nav button{
  background-color:white;
  color:#1521cf;
  transform:;
}

