@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@media (max-width: 1000px){
  .project-link_home{
    width:80%;
    border: 5px solid red;
  }
}
@keyframes hover{
  0%{
    color:#3772FF;
   margin-left:0px;
  }
  50%{
    color:#FDCA40;
  }
  100%{
   margin-left:6px;
   color:#DF2935;
  }
}
.App{
  margin:0 auto;
  max-width:1080px;
}
a{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:300;
  font-size: 72px;
  color:#3772FF;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  animation-name: hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;  
}

button{
  border:none;
  background-color:#FFFFFF;
}

footer{
  margin:50px auto;
  text-align:center;
  display:flex;
  flex-direction:column;
}

h1{
  font-family: 'DM Sans', sans-serif;
  font-weight:700;
  font-size: 45px;
  color:#000000;
  margin:0;
}

h2{
  font-weight:bold;
  font-size: 35px;
  font-family: 'DM Sans', sans-serif;
  font-weight:500;
  margin:10px 0;
}

header{
  margin:30px;
}

main{
  display:flex;
  flex-direction:column;
  align-items:space-between;
  justify-content:center;
  overflow:visible;
  margin:0 auto;
}

nav{
  position:sticky;
  display:flex;
  flex-direction:row;
  top:0;
  width:100%;
  background-color:white;
  justify-content:flex-start;
  align-content:flex-start;
}

p{
  font-family: 'DM Sans', sans-serif;
  font-weight:400;
  font-size: 20px;
  padding:0;
  margin:0px;
  line-height:30px;
  color:#222222;
}

/*------------------------------HOME PAGE PROJECT STYLING*/

.projects_home{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}

.project-link{
  display:flex;
  flex-direction:row;
  text-align:left;
  margin:30px;
  width:80%;
  height:60vh;
  border-radius:20px;
  box-shadow:0px 2px 6px #3772FF;
}

.project_link_wrapper{
  display:flex;
  flex-direction:column;
}

.project_img{
  object-fit:cover;
  height:92%;
  margin:20px;
  border-radius:20px 0 0 20px;
}

.project_img:hover{
}

.project_description{
}

.project_name{
  font-size:15px;
}

.project_nav button{
  background-color:white;
  color:#1521cf;
  transform:;
}

.project_text{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin:30px;
}

