@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:wght@700;800;900&display=swap');
.article{
	max-width:1080px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.article h1{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 80px;
	text-align: left;
	color:#1521cf;
}
.article p{
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
}

.article footer{
	display:flex;
	flex-direction:row;
}

.article_text{
  /*needed for spacing in the airtable to show up in the react app*/
  white-space: pre-line;
  margin:20px 100px;
  max-width:50%;
}

.article_image_1{
  height:100%;
  width:100%;
  object-fit:cover;
  margin:25px auto;
}

.article_image_2{
  height:400px;
  width:100%;
  object-fit:cover;
  margin:0 auto;
}

.article_image_small{
	max-width:100%;
	height:50%;
	max-height:600px;
	object-fit:cover;
	margin:0;
	padding:10px;
}

.section_header{
	margin:70px 0 20px 0;
}

.articleSection{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
  margin:0px;
}

.button{
  padding:30px auto; 
  width:100%;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0;
  position:sticky;
  background-color:white;

}

.button:hover{
	background-color:#1521cf;
}

.button_link{
	font-family: 'Poppins', sans-serif;
	padding:10px;
}

.goals{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0;
	padding:0;
}
.goal_img{
	z-index:-1;
	object-fit:cover;
	height:300px;
	width:100%;
}

.goal_text{
	margin:10px 0;
}

.goal_text h1{
	margin:0;
	line-height:70px;
}

.image_wrapper{
	margin:0px;
	padding:0px;
}

.image_wrapper_inner{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	margin:0;
	padding:0;
}

.project_header{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin:50px auto;
	padding:125px;
	background-color:#1521cf;
}

.project_header h1{
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	color:white;
	margin:15px;
}

.project_header p{
	color:white;
}

section div{
  padding:20px;
  margin:20px auto;
  background-color:;
}

.text_image_wrapper{
	display:flex;
	flex-direction:row;
	align-items:space-between;
	justify-content:center;
}

