.articleSection{
  display:flex;
  flex-direction:column;
  margin:25px 0;
  padding:20px;
}

.articleSection h2{
  margin:20px;
}

.articleSection p{
  font-weight:400;
  margin:20px;
}

.article_title{
  font-weight:800;
  font-size:50px;
}

.images{
  width:48%;
}

.text{
  width:540px;
}

.next_projects{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.next_projects a{
  margin:30px;
}

.mini_article{
  display:flex;
  flex-direction:column;
}

.mini_article{
  font-weight:400px;
}

.mini_article_header{
  padding:5px;
  margin:1%;
}

.mini_article_header h1{
  margin:10px 0 10px 0;
}

.mini_article main{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:30px 0 30px 0;
}

.mini_article_img{
  width:48%;
  margin:5px;
}

.article_button{
  margin:15px 0 15px 0;
}
.article main{
  display:flex;
  flex-direction:row;
}